<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">REPORTDB</property>
		<property name="connection.password">821216</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">reportdb</property>  -->
		
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dars?characterEncoding=utf8</property>
		<property name="hibernate.connection.username">deepak</property>
		<property name="connection.password">821216</property>
		<property name="hibernate.connection.characterEncoding">utf8</property> 
		
		
		<property name="connection.pool_size">1</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		
		
		<mapping class="com.prp.models.User" />
		<mapping class="com.prp.models.Group" />
		<mapping class="com.prp.models.Menu" />
		
		<mapping class="com.prp.models.GroupMenu" />
		<mapping class="com.prp.models.GroupUser" />
		
		<mapping resource="res/dao/hbm/menu.hbm.xml"></mapping>
		<mapping resource="res/dao/hbm/user.hbm.xml"></mapping>
		
		<mapping resource="res/dao/hbm/developer.hbm.xml"></mapping>
		
		<mapping resource="res/dao/hbm/group.hbm.xml"></mapping>
		<mapping resource="res/dao/hbm/group-menu.hbm.xml"></mapping>
		<mapping resource="res/dao/hbm/group-user.hbm.xml"></mapping>
		
		
	</session-factory>
</hibernate-configuration>